@font-face {
    font-family: 'ChunkFive';
    src: url('../fonts/Chunkfive.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400');

// Colors
$color__black: #1b1c1f;
$color__gray: #828997;
$color__gold: #ffca22;
$color__white: #fff;
$color__blue: #0068fa;
