$color__gold: #ffca22;

.contact {
  padding-bottom: 15px;
  padding-top: 15px;
  .item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .emoji {
    font-size: 2.2rem;
    padding: 0;
  }

  .value {
    cursor: pointer;
    color: $color__gold;
    font-size: 1.6rem;
    margin-left: 18px;
    border-bottom: 0px solid transparent;
    transition: border 0.2s ease-in;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $color__gold;
    }
  }
}
