<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="icon" href="<%= require('./assets/hand.png') %>" type="image/png">

</head>

<body>
    <div class="content ">
        <div class="content__inner">
            <section class="title">
                <h1 class="title__h1 title__h1--wave">
                    Hi, I'm Vladimir
                    <span class="title__bg"></span>
                </h1>
                <br>
                <h1 class="title__h1 title__h1--pulse" style="position: relative;">
                    I
                    <span class="title__emoji">
                        ❤️
                    </span>
                    Web
                    <span class="title__bg"></span>
                </h1>
            </section>

            <section class="about">
                I’m a
                <span class="about__tooltip" data-wenk="An organism that converts  ☕  into code.">javascript developer</span> with strong comp. sci. background. Passionate about code quality, best practices,
                security, performance, and everything web related.
                <br> (p.s. I’m huge javascript enthusiast)

            </section>

            <section class="contact">
                <div class="contact__item">
                    <span class="contact__emoji">👨‍💻</span>
                    <a href="https://www.linkedin.com/in/vsimonovski/" class="contact__value" data-wenk="👈  Where I work" data-wenk-pos="right">@CallidusCloud</a>
                </div>
                <div class="contact__item">
                    <span class="contact__emoji">💻</span>
                    <a href="https://github.com/vsimonovski" class="contact__value" data-wenk="👈  Check out my GitHub" data-wenk-pos="right">@vsimonovski</a>
                </div>
                <div class="contact__item">
                    <span class="contact__emoji">🗒️</span>
                    <a href="http://blog.vsimonovski.me/" class="contact__value" data-wenk="👈  Sometimes I like to write about code" data-wenk-pos="right">@blog.vsimonovski</a>
                </div>
                <div class="contact__item">
                    <span class="contact__emoji">💌</span>
                    <a href="mailto:vsimonovski@outlook.com" class="contact__value">Contact me?</a>
                </div>
            </section>
        </div>
    </div>
</body>

</html>