@media screen and (max-width: 840px) {
  .content {
    padding-right: 10% !important;
  }

  .intro {
    font-size: 6rem !important;
  }

  .background-line {
    display: none !important;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    font-size: 5rem !important;

    h1 &--wave {
      margin-left: -60px;
      &::before {
        font-size: 4rem !important;
      }
    }
  }

  .emoji {
    font-size: 4rem !important;
  }

  .about {
    font-size: 1.5rem !important;
  }

  .contact {
    .emoji {
      font-size: 2rem !important;
    }

    .value {
      font-size: 1.4rem !important;
    }
  }
}

@media screen and (max-width: 630px) {
  .intro {
    font-size: 4rem !important;

    &--wave {
      margin-left: -60px !important;
      &::before {
        font-size: 3.5rem !important;
      }
    }
  }

  .emoji {
    font-size: 3.5rem !important;
  }
}

@media screen and (max-width: 515px) {
  .intro {
    font-size: 3.8rem !important;
  }
}

@media screen and (max-width: 490px) {
  [data-wenk].wenk--right:after,
  [data-wenk][data-wenk-pos='right']:after {
    display: none;
  }
  html,
  body {
    font-size: 9px;
  }

  .content {
    padding: 0 10px;
  }
}

@media screen and (max-width: 420px) {
  .intro.intro--wave {
    margin-left: 0 !important;
    &::before {
      display: none;
    }
  }
}
